i{
    padding-left: 2px;
}
.pointer{
    cursor: pointer;
}
.date_range{
        font-size:16px !important;
}
.button {
    cursor:pointer;
    background-color: #f6f5f2;
    border: 1px solid #aaa !important;
    color: #555;
    margin-top:-2px;
    padding: 10px 25px 6px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}
.fix-column{
    min-width: 70px;
    padding: 4px 15px 4px 15px !important;
    font-size: 12px !important;
}
th,td{
    padding-top: 5px;
    padding-bottom: 5px;
    /*line-height: 1.2 !important*/
}
.no{
    width: 24px;
    min-width:24px !important;
    max-width:24px !important;
    font-size: 12px !important;
}
.th-no{
    height:10px !important;
}
.th-word{
    padding: 9px 15px !important;
}
.word{
    width: 72px;
    min-width:72px !important;
    max-width:72px !important;
    font-size: 12px !important;
}

.fixtable{
    width:100%;

}
.statistic {
    float: left;
    margin-bottom: 0px !important;
}

.right {
    overflow: auto;
}
#menu-navigation{
   width:700px !important; 
}
.custom-table-title
{
    width: 200px;
    padding-left: 25px;
    display: block;
    background-color: #66ccff;
    color: white;
    line-height: 1.75;
    margin-top: 20px;
}

.custom-table-title.today
{
    background-color: #ff5522;
}

.table.custom-table {
    border-collapse: collapse;
    background: transparent;
    border-left: 0;
    width: 100%;
    max-width: 100%;
    margin-bottom: 0;
}

.table.custom-table tr td,
.table.custom-table tr th {
    border-right: 0;
}

.table.custom-table tr th {
    font-weight: bold;
}

.table.custom-table th,
.table.custom-table tr:nth-child(odd) {
    background: #e2e2e2;
}

.table.custom-table img {
    display: inline-block;
    width: 20px;
    margin: -2px 2px 0;
}

.winner {
    font-weight: bold;
}
.banner-bar {
    width: 100%;
    overflow: auto;
    position: relative;
}
.banner-bar .arrow {
    position: absolute;
    top: 25px;
    z-index: 2;
}
.banner-bar .arrow a{
    font-size: 30px;    
    border: 1px solid lightgrey;
    padding: 15px;
    background-color: white;
    vertical-align: bottom;
}
.banner-bar .arrow-right {
    right: 0;
}
.banner-bar .content-wrapper {
    width: fit-content;
    display: inline-block;
    text-align: center;
    margin-bottom: 5px;
}
.banner-bar .content-wrapper > div {
    padding: 1px 0;
}
.banner-bar .content-row.winner .score {
    color: #d40000;
}
.banner-bar .content-item {
    display:inline-block;
}
.banner-bar .content-item + .content-item {
    margin-left: 30px;
}
.banner-bar .content-wrapper.selected {
    border-bottom: 2px solid red;
}
.banner-bar .content-wrapper:hover {
    cursor: pointer;
    border-bottom: 2px solid red;
}
/*.outer-content-wrapper {
    width: fit-content;
    margin: 0 60px;
    white-space: nowrap;
    padding-right: 60px;
}*/
.swiper-container {
    margin: 0 60px;
}
.outer-content-wrapper {
    margin: 0 60px;
   /* white-space: nowrap;
    overflow: auto;*/
}
.live-feed::-webkit-scrollbar,
.view-all-div::-webkit-scrollbar,
.overflow::-webkit-scrollbar,
.outer-content-wrapper::-webkit-scrollbar {
    height: 5px;
}
.live-feed::-webkit-scrollbar-track,
.view-all-div::-webkit-scrollbar-track,
.overflow::-webkit-scrollbar-track,
.outer-content-wrapper::-webkit-scrollbar-track {
    /*-webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.1);*/
}
.live-feed::-webkit-scrollbar-thumb,
.view-all-div::-webkit-scrollbar-thumb,
.overflow::-webkit-scrollbar-thumb,
.outer-content-wrapper::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

.live-feed-title > div {
    display: inline-block;
    padding: 20px;
}
.live-feed-title {
    margin-left: -30px;
}
.team {
    margin-right: 5px;
}
.team img{
    width: 60px;
    display: inline-block;
    margin: 0;
    padding: 10px;
}

.live-feed-type {
    margin-bottom: 20px;
}
.live-feed-type .btn {
    border-radius: 5px;
    border: 1px solid black;
    padding: 2.5px 10px;
    font-weight: bold;
}
.live-feed-type .btn:hover,
.live-feed-type .active {
    background-color: #ff5522;
    border: 1px solid #ff5522;
    color: white;
    cursor: pointer;
}
.live-feed-type > div {
    display: inline-block;
    margin-right: 10px;
}

.table tr th{
    min-width: 30px;
}
.player-ranking,
.live-feed {
    overflow: auto;
}

.table.no-padding td,
.table.no-padding th {
    padding: 5px;
    table-layout: auto;
    font-size: 0.75em;
}
/*.table.no-padding td:nth-child(1),
.table.no-padding th:nth-child(1) {
    min-width: 100px;
}*/
.table.no-padding td:nth-child(3) {
    text-align: left;
}
.high {
    color: #ff5522;
}

.table.rating,
.table.rating td,
.table.rating tr,
.table.rating th {
    border: none;
    padding: 5px;
}
.table.rating tr {
    border-bottom: 1px solid lightgrey;
}
.circle {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
}
.circle.blue {
    border: 1px #4f78cb solid;
    background-color: #4f78cb;
    color: white;
}
.circle.red {
    border: 1px #bb1115 solid;
    background-color: #bb1115;
    color: white;
}
.rating-selections {
    padding: 10px;
    background-color: lightgrey;
    max-width: 500px;
    overflow: hidden;
}
.rating-selections > div {
    display: inline-block;
    margin: 0 8px;
}
.season-selections {
    padding: 10px 10px 10px;
    max-width: 500px;
    overflow: hidden;
}
.season-selections > div {
    display: inline-block;
    margin: 0 8px;
    border-radius: 10px;
}
.selection {
    padding: 5px 10px;
    border: 1px solid lightgrey;
    background-color: white;
    float: left;
    min-width: 90px;
    text-align: center;
}
.selection:hover {
    border-color: grey;
}
.selection.active {
    border: 1px solid #f23d63;
    background-color: #f23d63;
    color: white;
}
.selection a {
    color: inherit;
}
.selection-title {
    float: right;
    padding: 5px 0 5px;
}
.rating-table {
    width: 100%;
    overflow: auto;
}
.rating-title {
    color: #b23940;
    font-weight: bold;
    padding: 10px 25px;
}

.player-board {
    border: 1px solid lightgrey;
    margin-top: 20px;
    max-width: 300px;
    /*width: 242px !important;*/
    float: left;
    margin-right: 10px;
}
.player-board-title {
    background: whitesmoke;
    padding: 5px 0px;
}
.player-board-title span {
    font-size: 14px;
    margin-left: 20px;
}
.player-board-title .check-all {
    font-weight: bold;
    /*font-size: 0.8em;*/
    float: right;
}
.player-board-title .check-all .arrow {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: white;
    color: lightgrey;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    line-height: 15px;
    margin-right: 10px;
    margin-left: 5px;
}
.players {
    padding: 5px;
}
.players div{
    font-size: 0.9em;
}
.player-wrapper {
    overflow: hidden;
}
.player-wrapper.logo{
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    align-items: center;
}
.player-wrapper > div{
    float: left;
    vertical-align: middle;
}
.player-img {
    margin-right: 5px;
    margin-left: 15px;
}
.player-img img {
    max-width: 30px;
    margin: 0;
	max-height: 30px;
}
.player-wrapper .player-detail {
    vertical-align: top;
    padding-left: 10px;
    min-width: 100px;
}
.player-name {
    padding: 0 !important;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100px;
}
.players:hover .player-name {
    text-overflow: initial;
    overflow: initial;
    background: white;
}
.players .score {
    float: right;
    margin-right: 5px;
    margin-left: auto;
}
.ranking {
    background: whitesmoke;
    padding: 5px;
}

.ranking-type {
    background: #efefef;
    margin-top: 20px;
}
.ranking-type > div {
    display: inline-block;
    padding: 5px 20px;
    font-weight: bold;
}
.ranking-type > div:hover,
.ranking-type .active {
    background: #eae6e6;
}
.table.ranking {
    background: white;
    border: 1px whitesmoke solid;
}
.table.ranking td,
.table.ranking th {
    border: none;
    padding: 5px;
    font-size: .75em;
    vertical-align: middle;
}
.table.ranking tr {
    border-bottom: 1px whitesmoke solid;
}
.table.ranking .score {
    background: #f3f3f3;
}
.score {
    background: #f3f3f3;
}
.team-rank {
    background-color: #dadada;
    width: 25px;
    height: 25px;
    display: flex;
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.table.ranking tr:nth-child(2) .team-rank {
    background-color: #f23d63;
}
.table.ranking tr:nth-child(3) .team-rank {
    background-color: #0090ee;
}
.table.ranking tr:nth-child(4) .team-rank,
.table.ranking tr:nth-child(5) .team-rank,
.table.ranking tr:nth-child(6) .team-rank {
    background-color: #606060;
}
.team-name {
    display: inline-block;
    width: 60px;
    margin-left: 5px;
}
.team-name-logo img {
    display: inline-block;
    margin: 0px;
    padding:0px;
    width: 15px;
    margin-right: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.team-name-logo {
    width: 100px;
    display: flex;
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
}
.emphasize {
    background-color: #dadada !important;
}
.table.striped tr:nth-child(even){
    background-color: #fafafa;
}
.flex-align-center {
    display: flex;
    align-items: center;
}
.view-all-div {
    overflow: auto;
    margin-bottom: 20px;
    margin-top: 15px;
}
.overflow {
    overflow: auto;
}

@media (max-width: 480px) {
    .live-feed-title > div {
        padding: 0px;
    }
    .live-feed-title {
        text-align: center;
        margin: 20px 0;
    }
    .team img {
        width: 50px;
    }
    .selection-title {
        float: left;
        width: 100%;
    }

    .player-board {
        max-width: initial;
        width: 100%;
    }
    .player-board .score {
        margin-left: auto;
        margin-right: 15px;
    }
    .player-name {
        max-width: 135px;
    }
    .player-ranking{
        max-height: 400px;
    }
    .view-all-div{
        max-height: 400px;
    }
    #dateBackward{
        padding: 10px 8px 6px 8px;
    }
    #dateForward{
        padding: 10px 8px 6px 8px;
    }
    
}

@media (max-width: 768px) {
   .hidden-xs{
    display:none;
   }      
    .player-ranking{
        max-height: 400px;
    }
    .view-all-div{
        max-height: 400px;
    } 
}
@media (max-width: 480px) {
   .text-sm{
    font-size: 13px;
   }   

   .text-xs{
    font-size: 11px;
   }   
   .text-xxs{
    font-size: 10px;
   }   
}   
@media (min-width: 767px) {
   .hidden-lg{
    display:none;
   }   
   .player-board {
        min-width: 242px;
        max-width: 242px;
		min-height: 360px;
    }    
}   


@media (min-width: 1024px)
{   
    .player-board {
        min-width: 242px;
        max-width: 242px;
		min-height: 360px;
    }
    .container {
        max-width: 970px;
    }
    #menu-navigation {
        width: 600px !important;
    }
}
@media (min-width: 1100px)
{
    .player-board {
        min-width: 242px;
        max-width: 242px;
		min-height: 360px;
    }
    .container {
        max-width: 1150px;
    }
    #menu-navigation {
        width: 700px !important;
    }
}
.text-center{
    text-align: center;
}
.white-grey{
    background-color:#F5F5F5;
}
.col-40{
    width:40%;
}
.oval{
    border-radius: 30px
}
.padding-t-b{
    padding:5px 0 5px 0;
}
.row{
    padding-top: 10px;
    width:100%;
}
.box{
    margin:8px;
    border:1px solid #555;
    padding:3px 2px 3px 2px;
    cursor: pointer;
}

.divTable{
    display: table;
    width: 100%;
}
.divTableRow {
    display: table-row;
}
.divTableHeading {
    background-color: #EEE;
    display: table-header-group;
}
.divTableCell, .divTableHead {
    border: 0;
    display: table-cell;
    padding: 3px 10px 0px 10px;
    vertical-align: middle;
}
.divTableHeading {
    background-color: #EEE;
    display: table-header-group;
    font-weight: bold;
}
.divTableFoot {
    background-color: #EEE;
    display: table-footer-group;
    font-weight: bold;
}
.divTableBody {
    display: table-row-group;
}
.match-bg-image{
    background-image: url('../../../team/imgs/match-bg.jpg');
}
.white{
    color:white;
}

.live-stream-btn {
    background-color: white;float: left;
    width: 68px;
    height: 32px;
    border-radius: 12%;
    display: table-cell;
    vertical-align: middle;
    line-height: 32px;
    text-align: center;
    margin: 0px 4px 4px 4px;
    font-size: 16px;
    border: 1px solid rgb(22, 155, 213);
}

.live-stream-btn.active {
    color:white;
    background-color: rgb(22, 155, 213);float: left;
}

.float_mask{position: fixed;z-index: 99999999;display:none;width: 100%;right: 0; bottom: 0;height: 95px;_bottom: auto;_width: 100%;_position: absolute;
  _top: expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)));}
.float_layer{position: absolute;left: 0;top: 0;z-index: 1;width: 100%;height: 100%;background: #071828;filter: alpha(opacity=80);opacity: 0.80;}
.float_content{ position: relative;z-index: 2;width: 1005px;height: 100%;margin: 0 auto;}
.float_bg{float: left;position: relative;width: 820px;height: 135px;margin-top: -27px;}
.float_slogan{
    z-index: 99999999;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 134px;
    cursor: pointer;
    position: absolute;
    background: url("http://www.bballmen.com/img/ads/download.png") 0 0 no-repeat;
    background-size: 100vw,134px;}
.float_close{float: left;width: 60px;margin-top: 30px;}
.float_close a {position: absolute; top: -20px; right: 5px; width: 40px; height: 40px; z-index: 3; background: url("//ad.sitemaji.com/static/close_circle.png") right top / 35px no-repeat; color: rgb(255, 255, 255); cursor: pointer;}
